{% extends "base.html" %}

{% block content %}
<!-- Header -->
<header class="py-5 head-foot-color">
    <div class="container px-4 px-lg-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to ElectroCart - Your One-Stop Electronics Shop</p>
        </div>
    </div>
</header>

<!-- About Section -->
<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-md-8 bg-light p-4 rounded shadow">
            <p class="text-justify">
                Welcome to ElectroCart! We are your go-to destination for high-quality electronic products, 
                offering everything from the latest gadgets to essential tech accessories. At ElectroCart, 
                we prioritize customer satisfaction by delivering top-notch products at competitive prices. 
                Our mission is to keep you connected with cutting-edge technology and bring innovation to your doorstep.
            </p>
            <p class="text-justify">
                Whether you're looking for the newest smartphone, a reliable laptop, or home electronics, 
                we have something for everyone. Explore our wide range of products and experience the best 
                in electronics shopping with ElectroCart.
            </p>
        </div>
    </div>
</div>
{% endblock content %}
