{% extends "base.html" %}

{% block content %}
 <!-- Header-->
 <header class="head-foot-color py-5">
    <div class="container px-4 px-lg-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Login in</h1>
            <p class="lead fw-normal text-white-50 mb-0">Login in to your account</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <br><br><br>
            <div class="col-8">
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                      <input type="text" class="form-control" name="username" placeholder="Enter your username">
                    </div><br>
                    <div class="mb-3">
                      <input type="password" class="form-control" name="password" placeholder="enter your password">
                    </div>
                    <button type="submit" class="btn btn-secondary">Submit</button>
                  </form><br><br><br>
            </div>
        </center>
    </div>
</div>

{% endblock content %}