{% extends "base.html" %}

{% block content %}
 <!-- Header-->
 <header class="head-foot-color py-5">
    <div class="container px-4 px-lg-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">update profile</h1>
            <p class="lead fw-normal text-white-50 mb-0">update your profile</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <br><br><br>
            <div class="col-8">
                <form method="POST" action="{% url 'update_user' %}">{% csrf_token %}
                    {{ user_form.as_p }}
                    <button type="submit" class="btn btn-secondary">update profile</button>
                  </form>
            </div><br>
            <a href="{% url 'update_password' %}">change your password?</a>
        </center>
    </div>
</div>
<br>

{% endblock content %}