{% extends "base.html" %}

{% block content %}
 <!-- Header-->
 <header class="head-foot-color py-5">
    <div class="container px-4 px-lg-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">update user info</h1>
            <p class="lead fw-normal text-white-50 mb-0">update your user information</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <br><br><br>
            <div class="col-8">
                <strong>billing information </strong>
                <form method="POST" action="{% url 'update_info' %}">{% csrf_token %}
                    {{ form.as_p }}
                    <br><br>
                    <strong>Shipping information </strong>
                    {{shipping_form.as_p}}

                    <button type="submit" class="btn btn-secondary">update profile info</button>
                  </form>
            </div><br>
        </center>
    </div>
</div>
<br>

{% endblock content %}